<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="tab/disease">
        <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Hypertensive Heart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ribbon" color="secondary" text-center>
        <ion-row>
          <ion-col class="base active">
            Information
          </ion-col>
          <ion-col class="base">
            Foods
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/image/hypertensive.jpg" alt="" />
                <!--ion-card-header>
                  <ion-card-title>Welcome</ion-card-title>
                </ion-card-header-->
                <ion-card-content text-justify>
                    <p>Hypertensive heart disease refers to heart conditions caused by high blood pressure. 
                      The heart working under increased pressure causes some different heart disorders. 
                      Hypertensive heart disease includes heart failure, thickening of the heart muscle, 
                      coronary artery disease, and other conditions. Hypertensive heart disease can cause 
                      serious health problems. It’s the leading cause of death from high blood pressure.
                    </p><br>
                    <p>
                        The main risk factor for hypertensive heart disease is high blood pressure. Your risk increases if:<br><br>

                        - You’re overweight <br>
                        - You don’t exercise enough<br>
                        - You smoke<br>
                        - You eat food high in fat and cholesterol <br>
                    </p>
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <img src="/assets/image/redcurry.jpg" alt="" />
                          <ion-card-content>
                            <p>Red Curry with Vegetables</p>
                            <p><b>Per Serving: 312 calories</b></p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
        
                  <ion-col>
                    <ion-card>
                      <img src="/assets/image/salad.jpg" alt="" />
                      <ion-card-content>
                        <p>Chicken, Charred Tomato & Broccoli Salad</p>
                        <p><b>Per Serving: 230 calories</b></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
        
                  <ion-col>
                      <ion-card>
                        <img src="/assets/image/squash.jpg" alt="" />
                        <ion-card-content>
                        <p>Creamy Gorgonzola Polenta with Summer Squash Saute</p>
                        <p><b>Per serving: 266 calories</b></p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
        
                    <ion-col>
                        <ion-card>
                          <img src="/assets/image/parfait.jpg" alt="" />
                           <ion-card-content>
                            <p>Pineapple-Raspberry Parfaits</p>
                            <p><b>Per serving: 155 calories</b></p>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>  
</ion-content>
