<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="tab/disease">
    <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Disease Type</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-grid class="ribbon" text-center>
        <ion-row>
          <ion-col class="base active">
            Information
          </ion-col>
          <ion-col class="base">
            Food
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/image/homepic.png" alt="" />
                <!--ion-card-header>
                  <ion-card-title>Welcome</ion-card-title>
                </ion-card-header-->
                <ion-card-content>
                    <p>Strokes are caused by disruption of the blood supply to the
                        brain. This may result from either blockage (ischaemic
                        stroke) or rupture of a blood vessel (haemorrhagic stroke).
                        Risk factors High blood pressure, atrial fibrillation (a heart
                        rhythm disorder), high blood cholesterol, tobacco use,
                        unhealthy diet, physical inactivity, diabetes, Deaths from cardiovascular 
                        diseases (CVD) and advancing age.
                    </p>
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <img src="/assets/image/oat.jpg" alt="" />
                          <ion-card-content>
                            <p>Berry Berry Chocolate Chip and Oatmeal Sundae</p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
        
                  <ion-col>
                    <ion-card>
                      <img src="/assets/image/oat2.jpg" alt="" />
                      <ion-card-content>
                        <p>Tropical Fruit Oatmeal Bowl</p>
                        <p><b>130 calories</b></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
        
                  <ion-col>
                      <ion-card>
                        <img src="/assets/image/homepic.png" alt="" />
                        <ion-card-content>
                          <p>Disease</p>
                          <p>Age</p>
                          <p>Weight</p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
        
                    <ion-col>
                        <ion-card>
                          <img src="/assets/image/homepic.png" alt="" />
                           <ion-card-content>
                            <p>Disease</p>
                            <p>Age</p>
                            <p>Weight</p>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>    
</ion-content>
