<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="tab/disease">
        <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Heart Attack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ribbon" color="secondary" text-center>
        <ion-row>
          <ion-col class="base active">
            Information
          </ion-col>
          <ion-col class="base">
            Foods
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/image/heartattack.jpg" alt="" />
                <!--ion-card-header>
                  <ion-card-title>Welcome</ion-card-title>
                </ion-card-header-->
                <ion-card-content text-justify>
                    <p>Heart attack clinically called a myocardial infarction, when the flow of 
                      blood to your heart is completely or near-completely blocked. Blockage typically occurs when you 
                      have a build-up of cholesterol, fat and other substances in the arteries surrounding your heart.</p><br>
                    <p>These plaques can sometimes become unstable, suddenly blocking blood flow to the heart muscle.
                      Once the flow of blood is interrupted, you can be left with a damaged heart or parts of the heart muscle destroyed. 
                      A heart attack can be fatal too.</p><br>
                    <p>Heart Attack Prevention as Cure. Most of the heart attacks can be avoided through 
                      lifestyle changes. Cardiology treatment options have improved greatly over the past decade,
                      and many people live long, healthy lives following a heart attack. 
                    </p>
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <img src="/assets/image/wild.jpg" alt="" />
                          <ion-card-content>
                            <p>Wild Mushroom & Barley Risotto</p>
                            <p><b>Per Serving: 309 calories</b></p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
        
                  <ion-col>
                    <ion-card>
                      <img src="/assets/image/chicken.jpg" alt="" />
                      <ion-card-content>
                        <p>Chicken Thighs with Pear & Leek Sauce</p>
                        <p><b>Per Serving: 412 calories</b></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
        
                  <ion-col>
                      <ion-card>
                        <img src="/assets/image/overnight.jpg" alt="" />
                        <ion-card-content>
                        <p>Overnight Oatmeal</p>
                        <p><b>Per serving: 188 calories</b></p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
        
                    <ion-col>
                        <ion-card>
                          <img src="/assets/image/cranberries.jpg" alt="" />
                           <ion-card-content text-left>
                            <p>Skillet Chicken with Cranberries & Apples</p>
                            <p><b>Per serving: 287 calories</b></p>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>    
</ion-content>
