<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="tab/disease">
        <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title> Peripheral Artery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ribbon" color="secondary" text-center>
        <ion-row>
          <ion-col class="base active">
            Information
          </ion-col>
          <ion-col class="base">
            Foods
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/image/peripheral.jpg" alt="" />
                <!--ion-card-header>
                  <ion-card-title>Welcome</ion-card-title>
                </ion-card-header-->
                <ion-card-content text-justify>
                    <p>Peripheral arterial disease (previously called peripheral vascular disease) is 
                      not enough blood flows to the legs. The condition usually is caused by fatty 
                      deposits called plaques that build up along the walls of blood vessels. 
                      This buildup shrinks the size of the passageway and reduces the amount of blood that can flow through. 
                    </p><br>
                    <p>
                        The most common symptom of peripheral arterial disease is intermittent claudication – 
                        pain or cramping in the legs or buttocks that starts when you exercise and goes away when you rest. 
                        Often the pain is described as a deep ache, especially in the calf muscle. 
                        The pain may extend to the foot or up toward the thigh and buttock.
                    </p>
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <img src="/assets/image/tunapasta.jpg" alt="" />
                          <ion-card-content>
                            <p>Tuna Pasta with Olives & Artichokes</p>
                            <p><b>Per Serving: 422 calories</b></p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
        
                  <ion-col>
                    <ion-card>
                      <img src="/assets/image/spanish.jpg" alt="" />
                      <ion-card-content>
                        <p>Slow-Cooker Spanish Chickpea Soup</p>
                        <p><b>Per Serving: 469 calories</b></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
        
                  <ion-col>
                      <ion-card>
                        <img src="/assets/image/mango.jpg" alt="" />
                        <ion-card-content>
                        <p>Mango & Kiwi with Fresh Lime Zest</p>
                        <p><b>Per serving: 92 calories</b></p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
        
                    <ion-col>
                        <ion-card>
                          <img src="/assets/image/avocado.jpg" alt="" />
                           <ion-card-content>
                            <p>Avocado-Egg Toast</p>
                            <p><b>Per serving: 271 calories</b></p>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>    
</ion-content>
