<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="tab/disease">
        <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Coronary Artery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ribbon" color="secondary" text-center>
        <ion-row>
          <ion-col class="base active">
            Information
          </ion-col>
          <ion-col class="base">
            Foods
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/image/coronary.jpg" alt="" />
                <!--ion-card-header>
                  <ion-card-title>Welcome</ion-card-title>
                </ion-card-header-->
                <ion-card-content text-justify>
                    <p>Coronary artery disease happens when the major blood vessels that lead to your heart (your coronary arteries)
                      become damaged or diseased, often due to a buildup of cholesterol-containing deposits, known as plaque, 
                      or as a result of inflammation.</p><br>
                    <p>
                        As you consider ways to lower your risk, keep in mind that one of the most powerful drivers of heart 
                        health is maintaining a healthy weight. Excess weight often is a key contributor to diabetes, 
                        high blood pressure and high cholesterol.
                    </p><br>
                    <p>To help control your weight, eat a healthy diet. Avoid fried, fatty foods; minimize excess sugar; and limit alcohol. 
                      Focus on eating vegetables and fruits, lean meats and whole grains. Be mindful of portion sizes and watch your calorie intake.
                      You also should exercise regularly.
                    </p>  
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <img src="/assets/image/creamy.jpg" alt="" />
                          <ion-card-content>
                            <p>Creamy Chicken Potpie</p>
                            <p><b>Per Serving: 387 calories</b></p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
        
                  <ion-col>
                    <ion-card>
                      <img src="/assets/image/moroccon.jpg" alt="" />
                      <ion-card-content>
                        <p>Moroccan-Style Stuffed Peppers</p>
                        <p><b>Per Serving: 410 calories</b></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
        
                  <ion-col>
                      <ion-card>
                        <img src="/assets/image/tortilla.jpg" alt="" />
                        <ion-card-content>
                        <p>Carne Asada Tacos</p>
                        <p><b>Per serving: 350 calories</b></p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
        
                    <ion-col>
                        <ion-card>
                          <img src="/assets/image/barley.jpg" alt="" />
                           <ion-card-content>
                            <p>Southwestern Three-Bean & Barley Soup</p>
                            <p><b>Per serving: 205 calories</b></p>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>    
</ion-content>
