<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Text Items -->
  <!--ion-list>
    <ion-item (click)="go()">
      <ion-icon slot="end" color="medium" name="arrow-forward"></ion-icon>
      <ion-label>Disease</ion-label>
    </ion-item>
  </ion-list-->

  <ion-item-group>
      <ion-item-divider>
        <ion-label>C</ion-label>
      </ion-item-divider>
    
      <ion-item (click)="go()">
        <ion-icon slot="end" color="medium" name="arrow-round-forward"></ion-icon>
        <ion-label>Cardiovascular Disease</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="end" color="medium" name="arrow-round-forward"></ion-icon>
        <ion-label>Coronery Heart Disease</ion-label>
      </ion-item>
  </ion-item-group>

  <ion-item-group>
      <ion-item-divider>
        <ion-label>H</ion-label>
      </ion-item-divider>
    
      <ion-item>
        <ion-icon slot="end" color="medium" name="arrow-round-forward"></ion-icon>
        <ion-label>Hypertensive Heart disease</ion-label>
      </ion-item>
  </ion-item-group>

  <ion-item-group>
      <ion-item-divider>
        <ion-label>S</ion-label>
      </ion-item-divider>
    
      <ion-item>
        <ion-icon slot="end" color="medium" name="arrow-round-forward"></ion-icon>
        <ion-label>Stroke</ion-label>
      </ion-item>
  </ion-item-group>


</ion-content>
