<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="tab/disease">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>{{info.name}}</ion-title>
    <ion-buttons slot="end" (click)="addToFavorite()" *ngIf="favb">
      <ion-icon style="font-size:1em" name="star"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="rmToFavorite()" *ngIf="!favb">
      <ion-icon style="font-size:1.5em" name="trash"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides #alph pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img [src]="info.img" alt="" />
                <ion-card-content text-justify>
                    <p>{{info.desc}}</p>
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let item of food">
                      <ion-card>
                          <img [src]="item.img" alt="" />
                          <ion-card-content>
                            <p>{{item.name}}</p>
                            <p><b>Per Serving: {{item.serving}} calories</b></p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>    
</ion-content>
