$color : #3880ff;
.ribbon{
    border-radius:5px;
}

.base{
    color: #3880ff !important;
    // border: 1px solid #3880ff !important;
    // background: white;
}
.active{
    color:white !important;
    background: #3880ff !important;
}