<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="tab/disease">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Atherosclerosis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ribbon" color="secondary" text-center>
        <ion-row>
          <ion-col class="base active">
            Information
          </ion-col>
          <ion-col class="base">
            Foods
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/image/athero.jpg" alt="" />
                <!--ion-card-header>
                  <ion-card-title>Welcome</ion-card-title>
                </ion-card-header-->
                <ion-card-content text-justify>
                    <p>Atherosclerosis is a chronic, progressive disease in which plaques build up in the walls of arteries.
                       These plaques are formed by deposits of cholesterol and other lipids, calcium, and large inflammatory 
                       cells called macrophages. Once a plaque is present in an artery, it can cause several kinds of problems.
                    </p><br>
                    <p>
                      The first step in preventing and treating is to make lifestyle changes.
                      Eat a more healthful diet with an emphasis on fruits and vegetables and minimize fats and meats. 
                      Increasing fiber intake and exercise regularly is also helpful.
                    </p>
                </ion-card-content>
            </ion-card>   
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card>
                          <img src="/assets/image/fish.jpg" alt="" />
                          <ion-card-content>
                            <p>Almond-&-Lemon-Crusted Fish with Spinach</p>
                            <p><b>Per Serving: 244 calories</b></p>
                          </ion-card-content>
                      </ion-card>
                  </ion-col>
        
                  <ion-col>
                    <ion-card>
                      <img src="/assets/image/chipotle.jpg" alt="" />
                      <ion-card-content>
                        <p>Chipotle Chicken Quinoa Burrito Bowl</p>
                        <p><b>Per Serving: 452 calories</b></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
        
                  <ion-col>
                      <ion-card>
                        <img src="/assets/image/general.jpg" alt="" />
                        <ion-card-content>
                        <p>General Tso's Chicken</p>
                        <p><b>Per serving: 364 calories</b></p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
        
                    <ion-col>
                        <ion-card>
                          <img src="/assets/image/redrice.jpg" alt="" />
                           <ion-card-content>
                            <p>Curried Cauliflower Steaks with Red Rice & Tzatziki</p>
                            <p><b>Per serving: 410 calories</b></p>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                </ion-row>        
              </ion-grid>
        </ion-slide>
      </ion-slides>    
</ion-content>
