<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fitness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/image/fitness1.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>Cardiac Rehab Successful for Heart Failure</h2>
      <p>Button on right</p>
    </ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>
  
  <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/image/fitness2.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Exercise For Your Heart</h2>
        <p>Button on right</p>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/image/fitness3.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Easy exercises to do while sitting</h2>
          <p>Button on right</p>
        </ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>

   
</ion-content>
