<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Home
      </ion-title>
      <ion-buttons slot="end" (click)="logout()" >
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <img src="/assets/image/homepic.png" alt="" />
        <ion-card-header>
          <ion-card-title>Welcome</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>This is an app design for you to take care and maintain of your health. It is filled with the informtaion and suggestion that will assist you in taking care of your health.</p>
        </ion-card-content>
      </ion-card>
  
      <ion-card class="sleep">
          <img src="/assets/image/sleep.png" alt="" />
          <ion-card-header>
            <ion-card-title>For a Better Night's Sleep, Put Down your Phone</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Being glued to your tablet or smartphone could be making you toss and turn at night, 
              according to studies linking screen time with poor sleep quality. <ion-item href="https://www.webmd.com/sleep-disorders/news/19991207/combating-sleep-problems-elderly#1">Cont read..</ion-item></p>
          </ion-card-content>
      </ion-card>
</ion-content>